<!DOCTYPE html>
<html lang="en" ng-app="LunchCheck">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Lunch Checker</title>
  <script src="angular.min.js"> </script>
  <script src="app.js"> </script>
  <link rel="stylesheet" href="styles/bootstrap.min.css">
  <style>
  .message { font-size: 1.3em; font-weight: bold;  }
  .success {color : green }
  .warning {color : red}
  input[type="text"].success{
    border-color: green;
    color : inherit;
  }
  input[type="text"].warning{
    border-color: red;
    color: inherit;
  }
   </style>
</head>
<body>
  <div class="container" ng-controller="LunchCheckController">
      <h1>Lunch Check</h1>
    <div class = "form-group">
      <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control" ng-model="items" ng-class="status">
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-default" ng-click="checkItems();"  >Check If Too Much</button>
    </div>
    <div class="form-group message" ng-class="status">
      {{message}}
    </div>

  </div>


</body>
</html>
